################################################################################
#  _   _                 ____       _
# | | | |___  ___ _ __  / ___|  ___| |_ _   _ _ __
# | | | / __|/ _ \ '__| \___ \ / _ \ __| | | | '_ \
# | |_| \__ \  __/ |     ___) |  __/ |_| |_| | |_) |
#  \___/|___/\___|_|    |____/ \___|\__|\__,_| .__/
#                                            |_|
#
# Copy this file as "config.user.env" and fill the following fields as they are
# mandatory for your application to build and run!
################################################################################


#-------------------------------------------------------------------------------
# You must replace <the token> below by an actual, base64-encoded, npm token.
# For simplicity, this can be the exact same value as the password set in your User .npmrc file.
# This value will be given to the Docker build so that it can run npm install.
NPM_TOKEN=<the token>


#-------------------------------------------------------------------------------
# Docker
# Un-comment the line below to use your own build image or the one from the repository:
# RDMS_REST_RUNTIME_IMAGE=osdu-reservoir-rest-api
# RDMS_ETP_IMAGE=community.opengroup.org:5555/osdu/platform/domain-data-mgmt-services/reservoir/open-etp-server/open-etp-server-main:latest

#-------------------------------------------------------------------------------
# Cloud
# Un-comment the line below to use clients and configuration for specific cloud provider:
# CLOUD_PROVIDER=azure

################################################################################
# Below this line you can add any variable that you want to set.
# For instance, it can be used to override a config.default.env definition locally.
